@import '~@material/react-button/index.scss';
@import '~@material/react-material-icon/index.scss';
@import '~@material/react-ripple/index.scss';
@import '~@material/ripple/mdc-ripple.scss';
@import '~@material/react-layout-grid/index.scss';
@import '~@material/react-list/index.scss';
@import '~@material/react-card/index.scss';
@import '~@material/react-text-field/index.scss';
@import '~@material/react-typography/index.scss';
@import '~@material/react-fab/index.scss';
@import "Travis";

// refer to element in Javascript portion below
.ripple-icon-component {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states;
  overflow: hidden;
}

.MainPanel {
  display: flex;
  flex-direction: column;

  .add-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  .travis-build-list {

    .mdc-list-item__meta {
      text-align: end;

      .mdc-list-item__primary-text {
        font-size: 1rem;
      }
    }

    .mdc-list-item__secondary-text::before {
      content: none;
    }

    .build-description {
      padding-top: 8px;
      display: flex;
      align-items: center;

      i {
        padding-right: 4px;
      }

      .material-icons {
        font-size: 16px;
      }
    }
  }

}

.SearchPanel {
  display: flex;
  flex-direction: column;
}

span.no-results {
  padding-top: 32px;
  text-align: center;
  color: var(--mdc-theme-text-disabled-on-background);
  @extend .mdc-typography--caption;
}
