@import '~@material/react-button/index.scss';
@import '~@material/react-material-icon/index.scss';
@import '~@material/react-ripple/index.scss';
@import '~@material/ripple/mdc-ripple.scss';
@import '~@material/react-layout-grid/index.scss';
@import '~@material/react-list/index.scss';
@import '~@material/react-card/index.scss';
@import '~@material/react-text-field/index.scss';
@import '~@material/react-typography/index.scss';
@import "Travis";

// refer to element in Javascript portion below
.ripple-icon-component {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states;
  overflow: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

span.no-results {
  padding-top: 32px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
